In [21]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import csv
import seaborn

# Aviation Risk Analysis

<img src="images/airplane-isolated-on-transparent-background-3d-rendering-aircraft-png-2455088391.png" alt="airplane flyting" style="width:300px;height:auto;">

## Overview - This is our conclusion

What have we learned?

## Business Problem

write Business problem here

## Data Understanding

In [22]:
#import and store data
df = pd.read_csv('data/AviationData.csv', encoding='mac_roman', low_memory=False)
#variables
filter_year = 2001

In [23]:
df.shape

(88889, 31)

In [24]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

We want some of these datatypes to be numbers.
We also want to filter out null and missing data.
We will have to decide which information is relevant to us.

Our first step is to ensure we are only looking at aircraft. 
Our next step is to filter our date ranges. We have decided to make reccomendations in a post 9-11 world and not inlcude accidents pre 2001.

In [26]:
df = df.loc[df['Aircraft.Category']=='Airplane']

In [27]:
df.groupby('Make').sum()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
Make,,,,,
177MF LLC,1.0,0.0,2.0,0.0,0.0
2007 Savage Air LLC,1.0,0.0,0.0,0.0,4.0
2021FX3 LLC,2.0,0.0,0.0,0.0,4.0
3XTRIM,1.0,1.0,0.0,1.0,0.0
5 RIVERS LLC,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...
Zlin,1.0,0.0,0.0,0.0,1.0
Zlin Aviation,1.0,0.0,0.0,0.0,1.0
Zodiac,0.0,1.0,0.0,1.0,0.0
de Havilland,11.0,2.0,4.0,1.0,52.0
unknown,1.0,0.0,0.0,1.0,0.0

In [72]:
df['Year'] = df['Event.Date'].str[-4:]
df['Year'] = df['Year'].astype(int)

In [73]:

df = df.loc[df['Year'] > filter_year]

In [31]:
df.isna().sum()
df['Total.Fatal.Injuries'].isna().sum()

2911

In [74]:
df.dropna()
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
count,21466.000000,21126.000000,21175.000000,21518.000000,23354.000000,24037.000000
mean,1.153871,0.620373,0.305596,0.212845,6.458894,2013.517743
std,0.400254,5.754296,2.202396,0.809652,31.786771,5.127626
min,0.000000,0.000000,0.000000,0.000000,0.000000,2002.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2009.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000,2013.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000,2018.000000
max,8.000000,295.000000,161.000000,50.000000,576.000000,2022.000000

## Data Cleaning

In [35]:
df.groupby('Purpose.of.flight').sum()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
Purpose.of.flight,,,,,,
ASHO,9.0,14.0,1.0,0.0,1.0,12132
Aerial Application,860.0,129.0,145.0,113.0,553.0,1865741
Aerial Observation,177.0,101.0,56.0,32.0,126.0,322268
Air Drop,3.0,0.0,2.0,0.0,3.0,6045
Air Race show,66.0,35.0,10.0,9.0,46.0,148990
Air Race/show,7.0,2.0,1.0,1.0,4.0,14040
Banner Tow,87.0,15.0,28.0,7.0,49.0,179106
Business,653.0,230.0,119.0,96.0,905.0,1008857
Executive/corporate,183.0,85.0,48.0,16.0,376.0,203251
External Load,0.0,0.0,0.0,1.0,1.0,2007
Ferry,132.0,184.0,15.0,13.0,99.0,221407
Firefighting,27.0,13.0,0.0,3.0,12.0,34269
Flight Test,271.0,65.0,47.0,33.0,338.0,455039
Glider Tow,33.0,11.0,8.0,4.0,20.0,70479
Instructional,2948.0,476.0,502.0,379.0,3499.0,5677250
Other Work Use,175.0,75.0,56.0,48.0,233.0,306033
PUBS,3.0,0.0,0.0,1.0,3.0,6066
Personal,14662.0,4463.0,3166.0,2612.0,14524.0,28765390
Positioning,510.0,99.0,42.0,29.0,402.0,712422
Public Aircraft,43.0,34.0,7.0,6.0,40.0,70377
Public Aircraft - Federal,70.0,11.0,9.0,7.0,84.0,106723
Public Aircraft - Local,16.0,4.0,6.0,1.0,11.0,24170
Public Aircraft - State,27.0,2.0,6.0,10.0,25.0,48280
Skydiving,140.0,44.0,56.0,28.0,398.0,245546
Unknown,189.0,351.0,44.0,59.0,406.0,482959

In [57]:


def categorize_flight(flight_type):
   
    if flight_type in ['Banner Tow',' Business'	, 'Executive/corporate','Ferry', 'Other Work Use', 'Positioning']:
        return 'Commercial'
    elif flight_type in ['Air Race show', 'Air Race/show', 'Glider Tow', 'Instructional', 'Personal', 'Skydiving']:
        return 'Private'
    elif flight_type in ['Aerial Observation', 'Air Drop', 'Firefighting', 'Public Aircraft', 'Public Aircraft - Federal', 'Public Aircraft - Local', 'Public Aircraft - State']:
        return 'Government'
    else:
        return 'Unknown'

We defined our dictionary and we will create a new column with our flight types sorted into smaller categories.

In [75]:
df['flight_category'] = df['Purpose.of.flight'].map(categorize_flight)
df.groupby('flight_category').sum()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
flight_category,,,,,,
Commercial,1087.0,458.0,189.0,113.0,1159.0,1622219
Government,363.0,165.0,86.0,59.0,301.0,612132
Private,17856.0,5031.0,3743.0,3033.0,18491.0,34921695
Unknown,5463.0,7452.0,2453.0,1375.0,130890.0,11242880

We also catergorized injury severity into fewer columns.

In [76]:
def categorize_injury(injury_type):
    if 'Non-Fatal' == injury_type:
        return 'Non-Fatal'
    elif 'Fatal' in injury_type:
        return 'Fatal'
    elif 'Minor' == injury_type:
        return 'Minor'
    elif 'Serious' == injury_type:
        return 'Serious'
    else:
        return 'Unavailable'
    
df['Injury_category'] = df['Injury.Severity'].map(categorize_injury)

We will put stuff what data needed cleaning

In [36]:
#clean figures

In [37]:
#we should be using at least one function

## Feature Engineering

Words

In [38]:
#add relevant features

## Analysis

Words and Figures

In [39]:
#include graphs

## Conclusions

Words and Figures

## Next Steps

Conclusion