In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import csv
import seaborn

# Aviation Risk Analysis

<img src="images/airplane-isolated-on-transparent-background-3d-rendering-aircraft-png-2455088391.png" alt="airplane flyting" style="width:300px;height:auto;">

## Overview - This is our conclusion

What have we learned?

## Business Problem

write Business problem here

## Data Understanding

In [2]:
#import and store data
df = pd.read_csv('data/AviationData.csv', encoding='mac_roman', low_memory=False)

In [3]:
df.shape

(88889, 31)

In [4]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

We want some of these datatypes to be numbers.
We also want to filter out null and missing data.
We will have to decide which information is relevant to us.

Our first step is to ensure we are only looking at aircraft. 
Our next step is to filter our date ranges. We have decided to make reccomendations in a post 9-11 world and not inlcude accidents pre 2001.

In [14]:
df = df.loc[df['Aircraft.Category']=='Airplane']

In [15]:
df.groupby('Make').sum()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
Make,,,,,
177MF LLC,1.0,0.0,2.0,0.0,0.0
2007 Savage Air LLC,1.0,0.0,0.0,0.0,4.0
2021FX3 LLC,2.0,0.0,0.0,0.0,4.0
3XTRIM,1.0,1.0,0.0,1.0,0.0
5 RIVERS LLC,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...
Zlin,1.0,0.0,0.0,0.0,1.0
Zlin Aviation,1.0,0.0,0.0,0.0,1.0
Zodiac,0.0,1.0,0.0,1.0,0.0
de Havilland,11.0,2.0,4.0,1.0,52.0
unknown,1.0,0.0,0.0,1.0,0.0

In [16]:
df['Air.carrier']

5                           Air Canada
7                                  NaN
8                                  NaN
12                                 NaN
13                                 NaN
                     ...
88869                              NaN
88873    SKY WEST AVIATION INC TRUSTEE
88876                              NaN
88877                 GERBER RICHARD E
88886                              NaN
Name: Air.carrier, Length: 27617, dtype: object

In [23]:
df['Year'] = df['Event.Date'].str[-4:]
df['Year'] = df['Year'].astype(int)
print(df['Year'])

5        1979
7        1982
8        1982
12       1982
13       1982
         ...
88869    2022
88873    2022
88876    2022
88877    2022
88886    2022
Name: Year, Length: 27617, dtype: int32

In [26]:

df = df.loc[df['Year']>=2001]
df.describe

<bound method NDFrame.describe of              Event.Id Investigation.Type Accident.Number  Event.Date  \
49914  20010329X00665           Accident      DCA01WA012    1/6/2001
49916  20010116X00306           Accident      MIA01LA059    1/7/2001
49930  20010130X00371           Accident      DCA01WA013    1/9/2001
49949  20010119X00328           Accident      ATL01FA021   1/14/2001
49961  20010131X00376           Accident      MIA01WA066   1/17/2001
...               ...                ...             ...         ...
88869     2.02212E+13           Accident      WPR23LA065  12/13/2022
88873     2.02212E+13           Accident      ERA23LA090  12/14/2022
88876     2.02212E+13           Accident      WPR23LA069  12/15/2022
88877     2.02212E+13           Accident      ERA23LA091  12/16/2022
88886     2.02212E+13           Accident      WPR23LA075  12/26/2022

                      Location        Country   Latitude   Longitude  \
49914            Dundo, Angola         Angola        NaN         NaN
49916              PARKTON, NC  United States        NaN         NaN
49930  BUENOS AIRES, ARGENTINA      Argentina        NaN         NaN
49949                 Troy, AL  United States  31.866667  -86.016667
49961            DIJON, France         France        NaN         NaN
...                        ...            ...        ...         ...
88869            Lewistown, MT  United States    047257N    0109280W
88873             San Juan, PR  United States    182724N    0066554W
88876              Wichita, KS  United States    373829N    0972635W
88877          Brooksville, FL  United States    282825N    0822719W
88886               Payson, AZ  United States    341525N    1112021W

      Airport.Code                    Airport.Name  ...  \
49914          NaN                             NaN  ...
49916          35W     Southern Comforts Aerodrome  ...
49930          NaN                             NaN  ...
49949          TOI                  Troy Municipal  ...
49961          NaN                             NaN  ...
...            ...                             ...  ...
88869         KLWT      Lewiston Municipal Airport  ...
88873          SIG   FERNANDO LUIS RIBAS DOMINICCI  ...
88876          ICT  WICHITA DWIGHT D EISENHOWER NT  ...
88877          BKV      BROOKSVILLE-TAMPA BAY RGNL  ...
88886          PAN                          PAYSON  ...

                         Air.carrier Total.Fatal.Injuries  \
49914                            NaN                  NaN
49916                            NaN                  NaN
49930                            NaN                  NaN
49949                            NaN                  NaN
49961                            NaN                  4.0
...                              ...                  ...
88869                            NaN                  0.0
88873  SKY WEST AVIATION INC TRUSTEE                  0.0
88876                            NaN                  0.0
88877               GERBER RICHARD E                  0.0
88886                            NaN                  0.0

      Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
49914                    NaN                  NaN             NaN
49916                    NaN                  NaN             1.0
49930                    NaN                  NaN           144.0
49949                    2.0                  NaN             NaN
49961                    NaN                  NaN             NaN
...                      ...                  ...             ...
88869                    0.0                  0.0             1.0
88873                    0.0                  0.0             1.0
88876                    0.0                  0.0             1.0
88877                    1.0                  0.0             0.0
88886                    0.0                  0.0             1.0

      Weather.Condition Broad.phase.of.flight   Report.Status  \
49914               NaN                   NaN         Foreign
49916               VMC               Descent  Probable Cause
49930               NaN                   NaN         Foreign
49949               VMC               Landing  Probable Cause
49961               VMC                   NaN         Foreign
...                 ...                   ...             ...
88869               NaN                   NaN             NaN
88873               VMC                   NaN             NaN
88876               NaN                   NaN             NaN
88877               VMC                   NaN             NaN
88886               VMC                   NaN             NaN

      Publication.Date  Year
49914              NaN  2001
49916       10/12/2014  2001
49930              NaN  2001
49949         5/4/2010  2001
49961              NaN  2001
...                ...   ...
88869       14-12-2022  2022
88873       27-12-2022  2022
88876       19-12-2022  2022
88877       23-12-2022  2022
88886       27-12-2022  2022

[24118 rows x 32 columns]>

In [31]:
df.isna().sum()
df['Total.Fatal.Injuries'].isna().sum()

2950

In [58]:
injuries_df = pd.DataFrame() #makes an empty dataframe
injuries_df['Total.Fatal.Injuries'] = df['Total.Fatal.Injuries']
injuries_df['Total.Serios.Injuries'] = df['Total.Serious.Injuries']
injuries_df['Total.Minor.Injuries'] = df['Total.Minor.Injuries']
injuries_df['Total.Uninjures'] = df['Total.Uninjured']
injuries_df['Make'] = df['Make']
injuries_df.describe()

injuries_df.value_counts()

Total.Fatal.Injuries  Total.Serios.Injuries  Total.Minor.Injuries  Total.Uninjures  Make
0.0                   0.0                    0.0                   1.0              CESSNA                 1405
                                                                   2.0              CESSNA                  938
                                                                   1.0              PIPER                   709
                                                                   2.0              PIPER                   611
                                                                   0.0              BOEING                  395
                                                                                                           ...
                      1.0                    0.0                   1.0              MAXFLY INC/MCKAY WM       1
                                                                                    MEAD                      1
                                                                                    MERRITT LESLIE R          1
                                                                                    MEYERS                    1
                      0.0                    0.0                   0.0              777                       1
Length: 6342, dtype: int64

In [62]:
injuries_df.loc[(injuries_df['Make'] == 'CESSNA') & (injuries_df['Total.Uninjures'] == 2.0)]

,Total.Fatal.Injuries,Total.Serios.Injuries,Total.Minor.Injuries,Total.Uninjures,Make
64401,0.0,0.0,0.0,2.0,CESSNA
64441,0.0,0.0,0.0,2.0,CESSNA
64465,0.0,0.0,0.0,2.0,CESSNA
64761,0.0,0.0,0.0,2.0,CESSNA
64776,0.0,0.0,0.0,2.0,CESSNA
...,...,...,...,...,...
88778,0.0,0.0,0.0,2.0,CESSNA
88779,0.0,0.0,0.0,2.0,CESSNA
88820,0.0,0.0,0.0,2.0,CESSNA
88844,0.0,0.0,0.0,2.0,CESSNA
88861,0.0,0.0,0.0,2.0,CESSNA

In [49]:
injuries_df.dropna()
injuries_df.describe()

,Total.Fatal.Injuries,Total.Serios.Injuries,Total.Minor.Injuries,Total.Uninjures
count,21168.000000,21190.000000,21528.000000,23385.000000
mean,0.630669,0.306890,0.214186,6.480693
std,5.772463,2.202771,0.815986,31.809233
min,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,0.000000,2.000000
max,295.000000,161.000000,50.000000,576.000000

## Data Cleaning

In [67]:
df.groupby('Purpose.of.flight').sum()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Year
Purpose.of.flight,,,,,,
ASHO,9.0,14.0,1.0,0.0,1.0,12132
Aerial Application,862.0,131.0,145.0,113.0,553.0,1867742
Aerial Observation,177.0,101.0,56.0,32.0,126.0,322268
Air Drop,3.0,0.0,2.0,0.0,3.0,6045
Air Race show,66.0,35.0,10.0,9.0,46.0,148990
Air Race/show,7.0,2.0,1.0,1.0,4.0,14040
Banner Tow,87.0,15.0,28.0,7.0,49.0,179106
Business,655.0,237.0,119.0,96.0,905.0,1012859
Executive/corporate,189.0,89.0,50.0,16.0,384.0,209254
External Load,0.0,0.0,0.0,1.0,1.0,2007
Ferry,132.0,184.0,15.0,13.0,99.0,221407
Firefighting,27.0,13.0,0.0,3.0,12.0,34269
Flight Test,271.0,65.0,47.0,33.0,338.0,455039
Glider Tow,33.0,11.0,8.0,4.0,20.0,70479
Instructional,2950.0,478.0,502.0,379.0,3501.0,5681252
Other Work Use,175.0,75.0,56.0,48.0,233.0,306033
PUBS,3.0,0.0,0.0,1.0,3.0,6066
Personal,14676.0,4494.0,3172.0,2616.0,14532.0,28813414
Positioning,510.0,99.0,42.0,29.0,402.0,712422
Public Aircraft,43.0,38.0,7.0,6.0,40.0,72378
Public Aircraft - Federal,70.0,11.0,9.0,7.0,84.0,106723
Public Aircraft - Local,16.0,4.0,6.0,1.0,11.0,24170
Public Aircraft - State,27.0,2.0,6.0,10.0,25.0,48280
Skydiving,150.0,46.0,61.0,43.0,445.0,265556
Unknown,190.0,378.0,44.0,59.0,409.0,490963

We will put stuff what data needed cleaning

In [8]:
#clean figures

In [9]:
#we should be using at least one function

## Feature Engineering

Words

In [10]:
#add relevant features

## Analysis

Words and Figures

In [11]:
#include graphs

## Conclusions

Words and Figures

## Next Steps

Conclusion